@font-face {
	font-family: "Schoolbell";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/schoolbell/v18/92zQtBZWOrcgoe-fgnJIZxUa6w.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

body {
	width: 100vw;
	height: 100vh;
}
.container-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: url(assets/TSL_Background_Blue.png);
}
::-webkit-input-placeholder {
	color: #fff;
}
::-moz-placeholder {
	color: #fff;
}
:-moz-placeholder {
	color: #fff;
}
:-ms-input-placeholder {
	color: #fff;
}
.theme__color {
	align-self: flex-start;
	display: flex;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	background: #fff;
	padding: 12px 20px;
}
.container-logo {
	width: 100%;
	padding: 0 auto;
}
.logo-title {
	display: flex;
	justify-content: center;
	font-family: Schoolbell, cursive;
	text-align: center;
}
.form-wrapper {
	padding: 5px 60px;
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-family: Sans-Serif;
	font-weight: 700;
	color: #1e282f;
	text-transform: capitalize;
	row-gap: 30px;
}
.error {
	display: none;
}
.banner-error {
	display: block;
	background-color: #e87575;
	padding: 20px;
	border-radius: 5px;
	width: 80%;
	color: #f2f2f2;
	text-align: center;
	margin: 0 auto;
}
.form-names {
	display: flex;
	-moz-column-gap: 20px;
	column-gap: 20px;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.form-name {
	width: 40%;
}
.column {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}
.input {
	border: 2px solid #bac2c3;
	color: #1e282f;
	background: #fff;
	border-radius: 8px;
	font-size: 14px;
	height: 30px;
}
.reg-btn {
	width: 250px;
	border-radius: 25px;
	border-style: none;
	background-color: #398cda;
	height: 40px;
	color: #fff;
}
.register-btn {
	display: flex;
	justify-content: center;
}
.email {
	font-size: 12px;
	font-family: Sans-Serif;
	font-weight: 500;
}
.color:hover {
	border: 1px double red;
}
